<br>
<br>
<div>
    <h1 class="text-centered"><strong>Pick Your Ammo</strong> <%= @first_name %></h1>
</div>

<br>
<br>

<div class="row">
    <% if @player1 %>
        <%= erb :_play_moves %>
    <% else %>
        <%= erb :_question_mark %>
    <% end %>
    <div class="large-4 columns verses">
        <h1 class="text-centered"><strong>versus</strong></h1>
    </div>
    <% if @player2 %>
        <%= erb :_play_moves %>
    <% else %>
        <%= erb :_question_mark %>
    <% end %>
</div>